.meet {
  background-color: $gray-mid;
  padding: 90px 0px 130px 0px;
  clear: both;
  overflow: hidden;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      text-transform: capitalize;
      padding-bottom: 50px;
    }
}

.meet > ul {
  @include list-reset;
}

.meet-list {
    text-align: center;
    float: left;
    width: calc(25% - 1rem);
    padding: 10px 25px 80px;
    color: #777;

    &:nth-child(4n+1) {
      clear: left;
    }

    @include max-down(1105px) {
      width: calc(33.33% - 1rem);
      &:nth-child(4n+1) {
        clear: none;
      }
      &:nth-child(3n+1) {
        clear:left;
      }
    }

    @include max-down(905px) {
      width: 50%;
      &:nth-child(4n+1) {
        clear: none;
      }
      &:nth-child(3n+1) {
        clear: none;
      }
    }

    @include max-down(540px) {
      width: 100%;
    }
}

.social-media {
  display: block;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  width: 100%;

     li {
      display: inline-block;
    }
}

.social-link {
  width: 18px;
  height: 18px;
  background-image: url('../img/slice.png');
  display: block;
  float: left;
  margin: 0 20px;
  position: relative;
}

.social-tw {
  background-position: 0px 0px;
}

.social-fb {
  background-position: -35px 0px;
}

.social-li {
  background-position: -105px 0px;
}

.social-dr {
  background-position: -193px 0px;
}

.sr-only {
  position: absolute;
  left: -10000%;
}

.avatar {
  border-radius: 50%;
  max-width: 90%;
}
