.course-goals {
  margin-top: 4rem;

      h1 {
       color: $dark-gray;
       font-weight: 400;
       font-size: 2rem;
       text-transform: uppercase;
       text-align: center;
       margin-bottom: 4rem;
     }

}

.course-goals li {
  @include list-reset;
  @include clearfix;
  float: left;
  width: calc(33.33% - 1rem);
  padding: 10px 25px 80px 25px;
  color: $dark-gray;

      h2 {
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
      }

      p {
        font-size: 1rem;
        font-weight: 300;
      }

      &:nth-child(3n+1) {
        clear: left;
      }

          @include max-down(960px) {
            width: calc(50% - 1rem);

              &:nth-child(2n+1) {
                clear: left;
              }
              &:nth-child(3n+1) {
                clear: none;
              }
          }

          @include max-down(600px) {
            margin: 0 4rem;
            width: calc(100% - 10rem);
            text-align: left;
            // @include vertical-align;
            // @include clearfix;
          }
}
