.nav-image {
  float: left;
  margin: 18px 34px;
}

.nav-text {
  float: right;
  margin: 35px 35px 0px 35px;
}

.nav-text li {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  float: left;
  margin-left: 28px;
  list-style: none;
}

@media (max-width: 899px) {
  .nav-text  {
    display: none;
  }
}

@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

.hamburger {
  height: 4em;
  float: right;
  margin-right: 2em;
  margin-top: 3em;
}

.nav-text a {
  color: $white;
  text-decoration: none;
}

.course-header {
  clear: both;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.course-name-header {
  color: $white;
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.start-date {
  color: $white;
  font-size: 1.7rem;
  font-weight: 300;
  padding-bottom: 300px;
}

.start-date::after {
  content: "";
  display: block;
  background-image: url(../img/divider.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 2em;
  margin: .9em auto;
}

.header {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
