.meet-instructor {
  background: url('../img/instructor.jpg');
  padding: 200px 0px 180px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include clearfix;
}

.content-wrapper {
    color: $white;
    margin: 0 6rem;
    float: left;
}

.instructor-head {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.instructor-name {
  font-size: 36px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0px;
}

.jeremy h2 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 25px;
}

.jeremy p {
  font-size: 20px;
  font-weight: 300;
  width: 500px;
    @include max-down(640px) {
      width: 350px;
    };
}
