.quote-quote {
  color: $dark-red;
  font-size: 48px;
  font-weight: 100;
  line-height: 1.3em;
  text-align: center;
  margin: 170px 50px 75px 50px;
  font-style: italic;
}

.quoter {
  color: #AAAAAA;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
}

.quote-date {
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.quote-source {
  text-align: center;
  margin-bottom: 170px
}

.ruby {
  text-decoration: underline;
}
