$light-gray: #C3BFBF;
$dark-gray: #777777;
$dark-red: #E66244;
$white: #FFFFFF;
$gray-mid: #f9f9f9;
// $roboto-medium: 

@import "partials/general";
@import "partials/header";
@import "partials/description";
@import "partials/goals";
@import "partials/colearners";
@import "partials/instructor";
@import "partials/quote";
@import "partials/footer";
